


div.home {
    background-image: url("../images/homepage.jpg");
    background-color: black;
    background-repeat: space;
    background-position: center top;
    background-size: cover;
    height: 60vw;

}
.overview {
    background-color: white;
    height: auto;

}

.titleDiv{
    font-size: 2vw;
    width: 50%;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

#map{
    width:100%;
    height:35vw;
    /*background:yellow;*/
    margin: auto;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

li {
    float: left;
    width: 16.5%;
}

li a {
    font-family: "Impact";
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;

}
li button {
    font-family: "Impact";
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    margin: auto;
}
li a:hover:not(.active) {
    background-color: #111;
}

h1.title {
    position: sticky;
    top: 0;
    color: white;
    font-family: "TradeGothicLTComBoldCondensed20", sans-serif;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 1px 1px black;
    font-size: 3vw;
    z-index: 3;

}

div#aboutus{
    color: white;
    max-width: 30%;
    padding: 5px;
    max-height: auto;
    text-align: justify;
    font-family: "TradeGothicLTComBoldCondensed20", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.2vw;

    text-shadow: 1px 1px black;

    position: relative;
    top: 35%;
    left: 60%;

    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

p.aboutus{
    padding: 0px 20px;
}

div.galleryrow{
    width: 100%;
    height: 100px;
    display: block;
}


div.gallery {
    border: 1px solid #ccc;
    height: 20vw;
    padding: 1px;
    box-sizing: border-box;
}
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

div.desc {
    padding: 15px;
    text-align: center;

}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;

}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



/*----------------------------------------------------------------------------------*/
/*                   Gallery Styles                                                 */
/*----------------------------------------------------------------------------------*/

 /* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    height: auto;
}

.content{

    max-width: 1500px;
    margin: 10px auto;
}



/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    margin-bottom: auto;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    height: 100%;
    margin-bottom: auto;
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
} 

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.modal-content img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
}