<!DOCTYPE html>
<html>
 <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheet/mystyle.css">

 </head> 
 	<body>
 	<div class="home">	
		<ul>
		  <li><a href="/">Home</a></li>
		  <li><a href="about">About</a></li>
		  <li><a href="event">Events</a></li>
		  <li><a href="gallery">Gallery</a></li>
		  <li> <a href="login">Login</a></li>
		</ul>
	</div>

	<form action="/event" method="post">
	  <div class="field">
	    <h4 style="color:white;">Event name</h4>
	    <input type="text" name="event_name" placeholder="Event name"/>
	  </div>
	  <div class="fields">
	      <h4 style="color:white;">Start time</h4>
	        <div class="field">
	          <input type="text" name="event-start[start-year]" maxlength="15" placeholder="Start date"/>
	        </div>
	    </div>
	      <h4 style="color:white;">End time</h4>
	        <div class="field">
	          <input type="text" name="event-end[end-year]" maxlength="15" placeholder="End date"/>
	        </div>
	  <div class="field">
	    <h4 style="color:white;">Location</h4>
	    <input type="text" name="event_location" placeholder="Event location"/>
	  </div>
	  <div class="field">
	    <h4 style="color:white;">Description</h4>
	    <input type="text" name="event_description" placeholder="Event description"/>
	  </div>
	  <button class="ui button" type="submit">Create event</button>
	</form>
 	</body>
</html>
