<!DOCTYPE html>
<html>
 <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheet/mystyle.css">

 </head> 
	<body>

		<form action="/login"  method="post">
		  <div class="imgcontainer">
		    <img src="/images/avatar.jpg" alt="Avatar" class="avatar">
		  </div>
		  <div class="container">
		    	<p>Please login with your credentials.</p>
		    <hr>
		    <label for="username"><b>Username</b></label>
		    <input type="text" placeholder="Enter Username" name="username" required></input>

		    <label for="password"><b>Password</b></label>
		    <input type="password" placeholder="Enter Password" name="password" required></input>
		        
		    <button type="submit">Login</button>
	        <label>
		      <input type="checkbox" checked="checked" name="remember"> Remember me
		    </label>
		 	<p> Not a member?</p>
		    <a href="/signup" class="button"> Register </a>
		  </div>
		</form>

	</body>
</html>
