<!DOCTYPE html>
<html>
 <head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheet/mystyle.css">

 </head> 
	<body>
		<ul>
		  <li><a href="/">Home</a></li>
		  <li><a href="about">About</a></li>
		  <li><a href="event">Events</a></li>
		  <li><a href="gallery">Gallery</a></li>
		  <li> <a href="login">Login</a></li>
		</ul>

		<form action="/signup" method="post">
		  <div class="imgcontainer">
		    <img src="/images/svg.png" alt="Avatar" class="avatar">
		  </div>
		  <div class="container">
		    	<p>Please fill in this form to create an account.</p>
		    <hr>
		    <label for="username"><b>Username</b></label>
		    <input type="text" placeholder="Enter Username" name="username" required></input>

		    <label for="password"><b>Password</b></label>
		    <input type="password" placeholder="Enter Password" name="password" required></input>
		    <button type="submit">Sign Up</button>
  			<label>
		      <input type="checkbox" checked="checked" name="remember"> Remember me
		    </label>
    		 <p>   Already a member?</p>
		    <a href="/login" class="button"> Sign In </a>
		  </div>
		</form>

	</body>
</html>
